/* Reset beberapa gaya dasar untuk memastikan konsistensi */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #f12711, #f5af19);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: #333;
}

h2 {
    margin-bottom: 20px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="text"]:focus, select:focus {
    border-color: #f12711;
}

input[type="submit"] {
    background: linear-gradient(to right, #f12711, #f5af19);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background: linear-gradient(to right, #f5af19, #f12711);
}
